div.container{
    top: 29%;
    right:5%;
    position: absolute;
    height: 5%;
}    
body {
  margin:10px;   
}
html{
    background-color:black;
}   
.compic{
    position: absolute;
    width: 30%;
    right: 25%;
    top: 30%;
}
.mempic{
    position: absolute;
    width: 25%;
    right: 25%;
    top: 30%;
    height: 65%;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.clayton {
  border-radius: 5px;
  background-color: #5d0c8c;
  padding: 20px;
}
button.tablinks{
    padding:20px;
    text-decoration:none;
    color:#5d0c8c;
    font-size:1.15em;
} 

button.tablinks:hover{
    box-shadow: 2px 1px 22px 7px black inset;
    background-size:100%;
    background-repeat:no-repeat;
    color:black;
    transition:all .8s;
}
div.top{
    background-color:#5d0c8c;
}
div.vex{
    width:25%;
}
div.container{
    width:25%;
    position:center;
}
div.words{
    width:25%;
    background-color:#5d0c8c;
}
table.home{
    width:90%;
}
iframe.vid{
    height:25%;
    width:40%;
    position:absolute;
    right:35%;
    top: 65%;
}
iframe.compvid{
    position: absolute;
    width: 30%;
    right: 25%;
    top: 70%;
}
iframe.abtvid{
    position: absolute;
    width: 40%;
    right: 55%;
    top: 70%;
}
div.up{
    background-color:#5d0c8c;
    box-sizing: border-box;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: center;
}

/* Hide the images by default */
.Slides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
